<% provide(:title, "Edit Home") %>
<div class="row justify-content-center">
  <div class="col-12">
    <%= form_for @home, method: :post, url: update_home_url do |form| %>
      <div class="form-group">
        <%= form.label :name, for: 'category-name-input' %>
        <%= form.text_field :name, class: 'form-control disabled', id: 'category-name-input', placeholder: @home.name, disabled: true %>
      </div>

      <div class="form-group">
        <%= form.label :contents, for: 'category-homepage-input' %>
        <%= form.text_area :contents,
                           class: 'form-control', id: 'category-homepage-input',
                           style: "font-family:monospace;", rows: '20',
                           placeholder: "# Home page" %>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>