<% provide(:title, "Search") %>
<%= form_for :search, method: :get, html: {class: ''}, url: '/search' do |form| %>
  <div class="row">
    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-md-10 col-sm-12">
          <%= form.text_field :term, class: "form-control", placeholder: 'Search' %>
        </div>
        <div class="form-group col-md-2 col-sm-6">
          <%= form.select :category, Category.all.collect {|c| [c.name, c.id]}, {include_blank: 'All Categories'}, {class: 'form-control custom-select'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>Page:</p>
    </div>
    <div class="col-12 text-center">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <% if has_left_arrow %>
          <%= button_tag(type: 'submit', class: "prev-page-button btn btn-light", name: "page", value: @page - 1) do %>
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          <% end %>
        <% end %>
        <% (get_lower_page..get_higher_page).each do |page| %>
          <%= form.submit page, name: "page", value: page, class: "page-buttons btn btn-light #{page == @page ? 'active' : ''} " %>
        <% end %>
        <% if has_right_arrow %>
          <%= button_tag(type: 'submit', class: "next-page-button btn btn-light", name: "page", value: @page + 1) do %>
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center top-buffer">
    <div class="col-12 text-center">
      <%= button_tag(type: 'submit', class: "all-results-button btn btn-light #{ @page < 1 ? 'active' : ''}", name: "page", value: -1) do %>
        All Results (<%= @posts.length %>)
      <% end %>
    </div>
  </div>
<% end %>
<div class="row large-top-buffer">
  <div class="col-12">
    <div class="list-group">
      <% get_paginated_results.each do |post| %>
        <a href="<%= post_url(post) %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= post.title %></h5>
            <small class="text-muted">Category: <%= post.category.name %></small>
          </div>
          <small class="text-muted"><%= get_text_preview post %></small>
        </a>
        <br/>
      <% end %>
    </div>
  </div>
</div>
