<% provide(:title, "New Post") %>
<div class="row justify-content-center">
  <div class="col-12">
    <%= form_for @post, method: :post, url: '/page/create' do |form| %>
      <div class="form group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form group">
        <%= form.label :contents %>
        <%= form.text_area :contents, class: 'form-control', style: "font-family:monospace;", rows: '20', placeholder: "# Hello World!\n\nI'm a new post!" %>
      </div>
      <%= hidden_field_tag 'updated', Time.now %>
      <%= hidden_field_tag 'created', Time.now %>

      <br>
      <%= form.label :category_id %>
      <br>
      <%= form.select "category_id", Category.all.collect {|c| [c.name, c.id]}, {}, {class: 'custom-select'} %>
      <br>
      <br>
      <%= form.submit class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>