<% provide(:title, @post.title) %>
<div class="row justify-content-center align-items-center">
  <div class="col-9">
    <h1 class="post-title">
      <a class="black-link no-underline-link" href="<%= categories_url(@post.category) %>">
        <%= @post.category.name %>
      </a>
      <span class="align-icon">
        <%= octicon "chevron-right", height: 32 %>
      </span>
      <%= @post.title %>
    </h1>
    </ol>
  </div>
  <div class="col-3 text-right pull-right">
    <a href="<%= edit_post_url(@post) %>" role="button" class="mx-2">
      <%= octicon "pencil", height: 32 %></a>
    <a data-confirm="Are you sure you want to delete this page?"
       data-method="delete" href="/page/<%= @post.id %>" role="button" class="mx-2">
      <%= octicon "trashcan", height: 32 %>
    </a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <hr/>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= markdown_renderer.render(h @post.contents).html_safe %>
  </div>
</div>