<nav data-spy="scroll" class="navbar navbar-expand-md flex-column pt-0 px-0">
  <div class="row">
    <div class="col-md-12 col-11">
      <%= form_for :search, method: :get, url: '/search' do |form| %>
        <div class="form-row">
          <div class="form-group col-md-12 col-6">
            <%= form.text_field :term, class: 'form-control', placeholder: "Search Posts..." %>
          </div>
          <div class="form-group col-md-8 col-4">
            <%= form.select :category, Category.all.collect {|c| [c.name, c.id]}, {include_blank: 'All Categories'}, {class: 'custom-select'} %>
          </div>
          <div class="form-group col-md-4 col-2">
            <%= form.submit :search, value: "Search", class: 'btn btn-primary' %>
          </div>

        </div>
      <% end %>
    </div>
    <div class="col-md-12 col-1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <%= octicon "three-bars", height: 32 %>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-12">
          <div class="accordion mt-2" id="category-accordion">
            <div class="card">
              <div class="card-header" id="category-<%= category.id %>-heading">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#category-<%= category.id %>-collapse" aria-expanded="true" aria-controls="category-<%= category.id %>-collapse">
                    <%= category.name %>
                  </button>
                </h2>
              </div>

              <div id="category-<%= category.id %>-collapse" class="collapse
              <% if (@category && @category.id == category.id) || (@post && @post.category && @post.category.id == category.id) %>show
              <% end %>" aria-labelledby="category" data-parent="#category-accordion">
                <div class="card-body">
                  <ul class="nav flex-column">
                    <% category.posts.each do |post| %>
                      <li class="nav-item">
                        <a class="nav-link
                        <% if @post && @post.id == post.id %>
                        <% end %>" href="<%= post_path(post) %>"><%= post.title %></a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
